<% include include/header %>

<div class="container-fluid">

    {{nome}}
    <div class="container">
        <div style="width: 300px; margin: 0 auto">
            <img src="/adm/images/thyagolucianologo.png" alt="Thyago Luciano"/>
        </div>
    </div>
    <div class="loginContainer">
        <!--<p>-->
            <!--username.$error = {{loginForm.username.$error}}<br>-->
            <!--password.$error = {{loginForm.password.$error}}<br>-->
            <!--<br>-->
            <!--Form.$valid = {{loginForm.$valid}}-->
        <!--</p>-->
        <form class="form-horizontal" id="loginForm" name="loginForm" novalidate>
            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span12" for="username">
                            Email:
                            <span class="icon16 icomoon-icon-user-3 right gray marginR10"></span>
                        </label>
                        <input class="span12" id="username" type="email" name="username" placeholder="Digite seu e-mail" data-ng-model="usuario.username" required/>
                        <div ng-show="loginForm.username.$dirty && loginForm.username.$invalid" class="formValidacao">
                            <span ng-show="loginForm.username.$error.required">Digite seu Email.</span>
                            <span ng-show="loginForm.username.$error.email">Email inválido.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <label class="form-label span12" for="password">
                            Senha:
                            <span class="icon16 icomoon-icon-locked right gray marginR10"></span>
                        </label>
                        <input data-ng-model="usuario.password" class="span12" id="password" type="password" name="password" placeholder="Digite sua Senha" data-ng-minlength="6" required/>
                        <div ng-show="loginForm.password.$dirty && loginForm.password.$invalid" class="formValidacao">
                            <span ng-show="loginForm.password.$error.required">Digite seu Senha.</span>
                            <span ng-show="loginForm.password.$error.minlength">Sua senha tem que conter pelo menos 6 digitos!</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="form-actions">
                            <div class="span12 controls">
                                <button type="submit" class="btn btn-info right" id="loginBtn" data-ng-click="logar(usuario)" data-ng-disabled="loginForm.$invalid"><span class="icon16 icomoon-icon-enter white"></span> Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div><!-- End .container-fluid -->

<% include include/foot %>
