<% include include/header %>
    <!-- loading animation -->
    <div id="qLoverlay"></div>
    <div id="qLbar"></div>
        
    <div id="header">

        <div class="navbar">
            <div class="navbar-inner">
              <div class="container-fluid">
                <a class="brand" href="manager">MMORPG.<span class="slogan">Admin</span></a>
                <div class="nav-no-collapse">
                    <ul class="nav">
                        <li class="active"><a href=""><span class="icon16 icomoon-icon-screen-2"></span> Dashboard</a></li>
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!--<span class="icon16 icomoon-icon-cog"></span> Settings-->
                                <!--<b class="caret"></b>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li class="menu">-->
                                    <!--<ul>-->
                                        <!--<li>                                                    -->
                                            <!--<a href="#"><span class="icon16 icomoon-icon-equalizer"></span>Site config</a>-->
                                        <!--</li>-->
                                        <!--<li>                                                    -->
                                            <!--<a href="#"><span class="icon16 icomoon-icon-wrench"></span>Plugins</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#"><span class="icon16 icomoon-icon-picture-2"></span>Themes</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!--<span class="icon16 icomoon-icon-mail-3"></span>Messages <span class="notification">8</span>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li class="menu">-->
                                    <!--<ul class="messages">    -->
                                        <!--<li class="header"><strong>Messages</strong> (10) emails and (2) PM</li>-->
                                        <!--<li>-->
                                           <!--<span class="icon"><span class="icon16 icomoon-icon-user-3"></span></span>-->
                                            <!--<span class="name"><a data-toggle="modal" href="#myModal1"><strong>Sammy Morerira</strong></a><span class="time">35 min ago</span></span>-->
                                            <!--<span class="msg">I have question about new function ...</span>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                           <!--<span class="icon avatar"><img src="images/avatar.jpg" alt="" /></span>-->
                                            <!--<span class="name"><a data-toggle="modal" href="#myModal1"><strong>George Michael</strong></a><span class="time">1 hour ago</span></span>-->
                                            <!--<span class="msg">I need to meet you urgent please call me ...</span>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<span class="icon"><span class="icon16 icomoon-icon-mail-3"></span></span>-->
                                            <!--<span class="name"><a data-toggle="modal" href="#myModal1"><strong>Ivanovich</strong></a><span class="time">1 day ago</span></span>-->
                                            <!--<span class="msg">I send you my suggestion, please look and ...</span>-->
                                        <!--</li>-->
                                        <!--<li class="view-all"><a href="#">View all messages <span class="icon16 icomoon-icon-arrow-right-8"></span></a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>
                  
                    <ul class="nav pull-right usernav">
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                                <!--<span class="icon16 icomoon-icon-bell-2"></span><span class="notification">3</span>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li class="menu">-->
                                    <!--<ul class="notif">-->
                                        <!--<li class="header"><strong>Notifications</strong> (3) items</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<span class="icon"><span class="icon16 icomoon-icon-user-3"></span></span>-->
                                                <!--<span class="event">1 User is registred</span>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<span class="icon"><span class="icon16 icomoon-icon-comments-4"></span></span>-->
                                                <!--<span class="event">Jony add 1 comment</span>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#">-->
                                                <!--<span class="icon"><span class="icon16 icomoon-icon-new-2"></span></span>-->
                                                <!--<span class="event">admin Julia added post with a long description</span>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="view-all"><a href="#">View all notifications <span class="icon16 icomoon-icon-arrow-right-8"></span></a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">-->
                                <!--<img src="images/avatar.jpg" alt="" class="image" /> -->
                                <!--<span class="txt">admin@supr.com</span>-->
                                <!--<b class="caret"></b>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li class="menu">-->
                                    <!--<ul>-->
                                        <!--<li>-->
                                            <!--<a href="#"><span class="icon16 icomoon-icon-user-3"></span>Edit profile</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#"><span class="icon16 icomoon-icon-comments-2"></span>Approve comments</a>-->
                                        <!--</li>-->
                                        <!--<li>-->
                                            <!--<a href="#"><span class="icon16 icomoon-icon-plus-2"></span>Add user</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <li><a href="#" data-ng-click="logout()"><span class="icon16 icomoon-icon-exit"></span> Logout</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar --> 

    </div><!-- End #header -->

    <div id="wrapper">

        <!--Responsive navigation button-->  
        <div class="resBtn">
            <a href="#"><span class="icon16 minia-icon-list-3"></span></a>
        </div>
        
        <!--Left Sidebar collapse button-->  
        <div class="collapseBtn leftbar">
             <a href="#" class="tipR" title="Hide Left Sidebar"><span class="icon12 minia-icon-layout"></span></a>
        </div>

        <!--Sidebar background-->
        <div id="sidebarbg"></div>
        <!--Sidebar content-->
        <div id="sidebar">

            <div class="shortcuts">
                <ul>
                    <li><a href="#" title="Support section" class="tip"><span class="icon24 icomoon-icon-support"></span></a></li>
                    <li><a href="#" title="Database backup" class="tip"><span class="icon24 icomoon-icon-database"></span></a></li>
                    <li><a href="#" title="Sales statistics" class="tip"><span class="icon24 icomoon-icon-pie-2"></span></a></li>
                    <li><a href="#" title="Write post" class="tip"><span class="icon24 icomoon-icon-pencil"></span></a></li>
                </ul>
            </div>
            <!-- End search -->

            <div class="sidenav">

                <div class="sidebar-widget" style="margin: -1px 0 0 0;">
                    <h5 class="title" style="margin-bottom:0">Navigation</h5>
                </div><!-- End .sidenav-widget -->

                <div class="mainnav">
                    <ul>
                        <li>
                            <a href="#"><span class="icon16 icomoon-icon-cart"></span>Loja<span class="notification red">sub3</span></a>
                            <ul class="sub">
                                <li><a href="manager#/loja/categoria"><span class="icon16 icomoon-icon-file"></span>Categorias</a></li>
                                <li><a href="manager#/loja/produto"><span class="icon16 icomoon-icon-file"></span>Produtos</a></li>
                                <li><a href="manager#/loja/pedidos"><span class="icon16 icomoon-icon-file"></span>Pedidos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="icon16 icomoon-icon-gamepad"></span>Game<span class="notification red">sub3</span></a>
                            <ul class="sub">
                                <li><a href="manager#/game/tileset"><span class="icon16 icomoon-icon-file"></span>Resources</a></li>
                                <li><a href="manager#/game/mapa"><span class="icon16 icomoon-icon-file"></span>Mapas</a></li>
                                <li><a href="manager#/game/inimigo"><span class="icon16 icomoon-icon-file"></span>Inimigos</a></li>
                                <!--<li>-->
                                    <!--<a href="#"><span class="icon16 icomoon-icon-file"></span>Sub Level 2<span class="notification red">new</span></a>-->
                                    <!--<ul class="sub">-->
                                        <!--<li><a href="#"><span class="icon16 icomoon-icon-arrow-right-2"></span>Item</a></li>-->
                                        <!--<li><a href="#"><span class="icon16 icomoon-icon-arrow-right-2"></span>Item</a></li>-->
                                        <!--<li><a href="#"><span class="icon16 icomoon-icon-arrow-right-2"></span>Item</a></li>-->
                                        <!--<li><a href="#"><span class="icon16 icomoon-icon-arrow-right-2"></span>Item</a></li>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- End sidenav -->

            <!--<div class="sidebar-widget">-->
                <!--<h5 class="title">Monthly Bandwidth Transfer</h5>-->
                <!--<div class="content">-->
                    <!--<span class="icon16 icomoon-icon-loop left"></span>-->
                    <!--<div class="progress progress-mini progress-danger left tip" title="87%">-->
                      <!--<div class="bar" style="width: 87%;"></div>-->
                    <!--</div>-->
                    <!--<span class="percent">87%</span>-->
                    <!--<div class="stat">19419.94 / 12000 MB</div>-->
                <!--</div>-->

            <!--</div>-->
            <!-- End .sidenav-widget -->

            <!--<div class="sidebar-widget">-->
                <!--<h5 class="title">Disk Space Usage</h5>-->
                <!--<div class="content">-->
                    <!--<span class="icon16 icomoon-icon-drive left"></span>-->
                    <!--<div class="progress progress-mini progress-success left tip" title="16%">-->
                      <!--<div class="bar" style="width: 16%;"></div>-->
                    <!--</div>-->
                    <!--<span class="percent">16%</span>-->
                    <!--<div class="stat">304.44 / 8000 MB</div>-->
                <!--</div>-->

            <!--</div>-->
            <!-- End .sidenav-widget -->

            <!--<div class="sidebar-widget">-->
                <!--<h5 class="title">Ad sense stats</h5>-->
                <!--<div class="content">-->
                    <!---->
                    <!--<div class="stats">-->
                        <!--<div class="item">-->
                            <!--<div class="head clearfix">-->
                                <!--<div class="txt">Advert View</div>-->
                            <!--</div>-->
                            <!--<span class="icon16 icomoon-icon-eye left"></span>-->
                            <!--<div class="number">21,501</div>-->
                            <!--<div class="change">-->
                                <!--<span class="icon24 icomoon-icon-arrow-up-2 green"></span>-->
                                <!--5%-->
                            <!--</div>-->
                            <!--<span id="stat1" class="spark"></span>-->
                        <!--</div>-->
                        <!--<div class="item">-->
                            <!--<div class="head clearfix">-->
                                <!--<div class="txt">Clicks</div>-->
                            <!--</div>-->
                            <!--<span class="icon16 icomoon-icon-thumbs-up left"></span>-->
                            <!--<div class="number">308</div>-->
                            <!--<div class="change">-->
                                <!--<span class="icon24 icomoon-icon-arrow-down-2 red"></span>-->
                                <!--8%-->
                            <!--</div>-->
                            <!--<span id="stat2" class="spark"></span>-->
                        <!--</div>-->
                        <!--<div class="item">-->
                            <!--<div class="head clearfix">-->
                                <!--<div class="txt">Page CTR</div>-->
                            <!--</div>-->
                            <!--<span class="icon16 icomoon-icon-heart left"></span>-->
                            <!--<div class="number">4%</div>-->
                            <!--<div class="change">-->
                                <!--<span class="icon24 icomoon-icon-arrow-down-2 red"></span>-->
                                <!--1%-->
                            <!--</div>-->
                            <!--<span id="stat3" class="spark"></span>-->
                        <!--</div>-->
                        <!--<div class="item">-->
                            <!--<div class="head clearfix">-->
                                <!--<div class="txt">Earn money</div>-->
                            <!--</div>-->
                            <!--<span class="icon16 icomoon-icon-coin left"></span>-->
                            <!--<div class="number">$376</div>-->
                            <!--<div class="change">-->
                                <!--<span class="icon24 icomoon-icon-arrow-up-2 green"></span>-->
                                <!--26%-->
                            <!--</div>-->
                            <!--<span id="stat4" class="spark"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- End .sidenav-widget -->

            <!--<div class="sidebar-widget">-->
                <!--<h5 class="title">Right now</h5>-->
                <!--<div class="content">-->
                    <!--<div class="rightnow">-->
                        <!--<ul class="unstyled">-->
                            <!--<li><span class="number">34</span><span class="icon16 icomoon-icon-new-2"></span>Posts</li>-->
                            <!--<li><span class="number">7</span><span class="icon16 icomoon-icon-file"></span>Pages</li>-->
                            <!--<li><span class="number">14</span><span class="icon16 icomoon-icon-list-view"></span>Categories</li>-->
                            <!--<li><span class="number">201</span><span class="icon16 icomoon-icon-tag"></span>Tags</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- End .sidenav-widget -->

        </div><!-- End #sidebar -->

        <!--Body content-->
        <div id="content" class="clearfix">
            <div class="contentwrapper" data-ng-view><!--Content wrapper-->

            </div>
        </div><!-- End #content -->
    
    </div><!-- End #wrapper -->

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://localhost:3000');

    socket.emit('server:diskUsage');
</script>

<% include include/foot %>