<!-- Socket.io -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<!-- PhaserJS -->
<script type="text/javascript" src="/lib/phaser/phaser.min.js"></script>
<script type="text/javascript" src="/lib/phaser/PathFinderPlugin.js"></script>
<script type="text/javascript" src="/lib/phaser/easystar-0.1.5.js"></script>

<!-- Game -->
<script type="text/javascript" src="/js/play/states/Boot.js"></script>
<script type="text/javascript" src="/js/play/states/Preloader.js"></script>
<script type="text/javascript" src="/js/play/states/MainMenu.js"></script>
<script type="text/javascript" src="/js/play/states/Game.js"></script>

<!-- Cliente Socket -->
<script type="text/javascript" src="/js/play/socket/Connect.js"></script>
<script type="text/javascript" src="/js/play/socket/PlayerSocket.js"></script>
<script type="text/javascript" src="/js/play/socket/EnemySocket.js"></script>

<!--<script type="text/javascript" src="/js/play/class/Cliente.js"></script>-->
<script type="text/javascript" src="/js/play/class/Mapa.js"></script>
<script type="text/javascript" src="/js/play/class/Player.js"></script>
<script type="text/javascript" src="/js/play/class/Enemy.js"></script>
<script type="text/javascript" src="/js/play/class/Dagger.js"></script>
<script type="text/javascript" src="/js/play/class/Itens.js"></script>
<script type="text/javascript" src="/js/play/class/Camera.js"></script>

<script type="text/javascript">
    function testeSocket(){
        socket.emit('teste', { msg: 'Enviando um socket de fora do game'});
    }

    window.onload = function(){
        var game = new Phaser.Game(800, 600, Phaser.AUTO, 'gameContainer');

        game.state.add('Boot',      GameCtrl.Boot);
        game.state.add('Preloader', GameCtrl.Preloader);
        game.state.add('MainMenu',  GameCtrl.MainMenu);
        game.state.add('Game',      GameCtrl.Game);

        // Now start the Boot state
        game.state.start('Boot');
    };
</script>

<!-- jQuery -->
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>

<!-- JS -->
<script type="text/javascript" src="/resource/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/resource/js/nav.js"></script>

<!-- AngularJS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/lib/angular-ui-utils/ui-utils.min.js"></script>

<!-- Application -->
<script type="text/javascript" src="/js/play/app.js"></script>
<script type="text/javascript" src="/js/services.js"></script>
<script type="text/javascript" src="/js/play/playControllers.js"></script>

</body>
</html>



