<!DOCTYPE html>

<html lang="pt-br" data-ng-app="tccApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1, IE=9">
    <meta content="" name="Projeto de conclusão de curso Faculdade Politecnica de Uberlandia . FPU">
    <meta content="" name="Thyago Luciano">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

</head>

<body>