<div class="container" data-ng-init="getUser()">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#" data-ng-click="logout()">Trocar Login</a>
                </li>
                <li>
                    <a href="#" data-ng-click="open()">Novo Avatar</a>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        console.log
    </script>
    <div class="row clearfix">
        <div class="col-md-4 column" data-ng-repeat="list in listAvatar" style="height: 170px;">
            <button type="button" class="btn btn-primary btn-xs" data-ng-click="remover(list._id)">Remover</button>
            <button type="button" class="btn btn-primary btn-xs" data-ng-click="jogar(list._id)">Jogar</button>
            <div style="overflow: hidden; width: 64px; height: 64px; margin: 40px auto 20px; display: block">
                <img src="assets/sprite/hero/sprites_male.png" style="margin-top: -128px">
            </div>
            <p style="text-align: center">
                {{list.name}}
            </p>
        </div>
    </div>

</div>