<div>
    <div class="modal-header">
        <h5>Novo Personagem</h5>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" data-ng-model="avatar.name" required>
            </div>

            <!-- ATRIBUTOS -->
            <div>
                <div class="row-fluid">
                    <label class="form-label span3" for="str">Força:</label>
                    <input id="str" max="9" min="0" data-ng-model="avatar.attributes.str" name="str" step="1" type="range" class="span8">
                    <output>{{avatar.attributes.str}}</output>
                </div>
                <div class="row-fluid">
                    <label class="form-label span3" for="agi">Agilidade:</label>
                    <input id="agi" max="9" min="0" data-ng-model="avatar.attributes.agi" name="agi" step="1" type="range" class="span8">
                    <output>{{avatar.attributes.agi}}</output>
                </div>
                <div class="row-fluid">
                    <label class="form-label span3" for="vit">Vitalidade:</label>
                    <input id="vit" max="9" min="0" data-ng-model="avatar.attributes.vit" name="vit" step="1" type="range" class="span8">
                    <output>{{avatar.attributes.vit}}</output>
                </div>
                <div class="row-fluid">
                    <label class="form-label span3" for="int">Inteligencia:</label>
                    <input id="int" max="9" min="0" data-ng-model="avatar.attributes.int" name="int" step="1" type="range" class="span8">
                    <output>{{avatar.attributes.int}}</output>
                </div>
                <div class="row-fluid">
                    <label class="form-label span3" for="dex">Destreza:</label>
                    <input id="dex" max="9" min="0" data-ng-model="avatar.attributes.dex" name="dex" step="1" type="range" class="span8">
                    <output>{{avatar.attributes.dex}}</output>
                </div>
                <div class="row-fluid">
                    <label class="form-label span3" for="luk">Sorte:</label>
                    <input id="luk" max="9" min="0" data-ng-model="avatar.attributes.luk" name="luk" step="1" type="range" class="span8">
                    <output>{{avatar.attributes.luk}}</output>
                </div>
            </div>
    
            
            <p>{{msg}}: {{total}}</p>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-ng-click="ok()" data-ng-disabled="disabled">OK</button>
        <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    </div>
</div>



