<footer id="footer">
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="https://twitter.com/thyagoluciano" class="icon-twitter2 icon"></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/thyagolucianolabs" class="icon-facebook2 icon"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</footer>


<!-- AngularJS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/lib/angular-ui-utils/ui-utils.min.js"></script>

<!-- Application -->
<script type="text/javascript" src="/js/jogo/app.js"></script>
<script type="text/javascript" src="/js/services.js"></script>
<script type="text/javascript" src="/js/jogo/jogoControllers.js"></script>

</body>
</html>