<!DOCTYPE html>

<html lang="pt-br" data-ng-app="tccApp">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">

        <title><%= title %></title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="container" data-ng-controller="loginCtrl">
            {{nome}}
            <div data-ng-view>

            </div>
        </div>

        <!-- AngularJS -->
        <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.min.js"></script>

        <!-- Application -->
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/services.js"></script>
        <script type="text/javascript" src="/js/controllers.js"></script>

    </body>
</html>