<div class="contentwrapper"><!--Content wrapper-->

    <div class="heading">

        <h3>Listar Mapas</h3>

        <ul class="breadcrumb">
            <li>Você está aqui:</li>
            <li>
                <a href="#" class="tip" title="back to dashboard">
                    <span class="icon16 icomoon-icon-screen-2"></span>
                </a>
                <span class="divider">
                    <span class="icon16 icomoon-icon-arrow-right-2"></span>
                </span>
            </li>
            <li class="active">Mapas</li>
        </ul>

    </div>
    <!-- End .heading-->

    <!-- Build page from here: Usual with <div class="row-fluid"></div> -->

    <div class="row-fluid">

        <div class="span12">

            <div class="box gradient">

                <div class="title">
                    <h4>
                        <span><a class="btn" href="manager#/game/mapa/novo">Adicionar Mapas</a> - Listar Mapas</span>
                    </h4>
                </div>
                <div class="content noPad clearfix">
                    <table data-ng-init="load()" cellpadding="0" cellspacing="0" border="0"
                           class="responsive dynamicTable display table table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOME</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" data-ng-repeat="row in map">
                            <td>{{$index}}</td>
                            <td>{{row.name}}</td>
                            <td>
                                <div class="controls center">
                                    <a href="manager#/game/mapa/editar/{{row._id}}" aria-describedby="qtip-17" data-hasqtip="true" title="" oldtitle="Edit task" href="javascript:void(0)" class="tip">
                                        <span class="icon12 icomoon-icon-pencil"></span>
                                    </a>
                                    <a data-ng-click="excluir(row._id)" data-hasqtip="true" title="" oldtitle="Remove task" href="javascript:void(0)" class="tip">
                                        <span class="icon12 icomoon-icon-remove"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>

                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <!-- End .box -->

        </div>
        <!-- End .span12 -->

    </div>
    <!-- End .row-fluid -->

    <!-- Page end here -->

    <div class="modal fade hide" id="myModal1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span class="icon12 minia-icon-close"></span>
            </button>
            <h3>Chat layout</h3>
        </div>
        <div class="modal-body">
            <ul class="messages">
                <li class="user clearfix">
                    <a href="#" class="avatar">
                        <img src="images/avatar2.jpeg" alt=""/>
                    </a>

                    <div class="message">
                        <div class="head clearfix">
                            <span class="name"><strong>Lazar</strong> says:</span>
                            <span class="time">25 seconds ago</span>
                        </div>
                        <p>
                            Time to go i call you tomorrow.
                        </p>
                    </div>
                </li>
                <li class="admin clearfix">
                    <a href="#" class="avatar">
                        <img src="images/avatar3.jpeg" alt=""/>
                    </a>

                    <div class="message">
                        <div class="head clearfix">
                            <span class="name"><strong>Sugge</strong> says:</span>
                            <span class="time">just now</span>
                        </div>
                        <p>
                            OK, have a nice day.
                        </p>
                    </div>
                </li>

                <li class="sendMsg">
                    <form class="form-horizontal" action="#">
                        <textarea class="elastic" id="textarea" rows="1" placeholder="Enter your message ..."
                                  style="width:98%;"></textarea>
                        <button type="submit" class="btn btn-info marginT10">Send message</button>
                    </form>
                </li>

            </ul>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
    </div>

</div><!-- End contentwrapper -->